.grid-container {
  display: grid;
  grid-template-columns: 8;
  grid-template-rows:  5;

}

.comedians {
  display: flex;
  align-content: center;
  justify-content: center;
  grid-template-rows: 5;
  grid-template-columns: 8;

}

.statistics {
  display: flex;
  align-content: center;
  justify-content: center;
  grid-template-rows: 5;
  grid-template-columns: 8;
  background-color: red;

}
